<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAccessorySetupBluetoothCompanyIdentifiers</key>
	<array>
		<string>0002</string>
	</array>
	<key>NSAccessorySetupBluetoothNames</key>
	<array>
		<string>BBSensor Pro 1</string>
	</array>
	<key>NSAccessorySetupBluetoothServices</key>
	<array>
		<string>87B8170E-5ABF-4B23-A3C6-983BF8E964A9</string>
	</array>
	<key>NSAccessorySetupKitSupports</key>
	<array>
		<string>Bluetooth</string>
	</array>
</dict>
</plist>
